body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-lg: 1.13rem;

  /* Colors */
  --color-black: #000;
  --color-orange: #ffab09;
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
}
