.website-frame {
    position: relative;
    width: 100%;
    height: 850px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
}

.contact,
.policy,
.privacy {
    position: absolute;
    top: 0.56rem;
    left: 11.88rem;
}

.contact,
.privacy {
    left: 69.69rem;
}

.privacy {
    left: 40.88rem;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 6px;
    height: 30px;
    width: 15rem;

}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 80%;
    padding: 5px;
}

.search-icon {
    font-size: 18px;
    color: #777;
}

.navbar-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffab09;
}

.activities,
.articles,
.news {
    position: absolute;
    top: 1.19rem;
    left: 68.19rem;
}

.activities,
.articles,
.news {
    left: 29rem;
}

.activities,
.news {
    left: 48.56rem;
}

.news {
    left: 9.94rem;
}

.logo-box,
.navbar {
    position: absolute;
    left: 0;
}

.navbar {
    top: 5rem;
    width: 100%;
    height: 3.94rem;
}

.contact-information {
    position: absolute;
    top: 1.19rem;
    left: 68.19rem;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-around;
}

.footer {
    position: sticky !important;
    bottom: 0 !important;
    top: 50px;
    width: 100%;
    height: 2.75rem;
    color: var(--color-white);
    background-color: var(--color-black);
}


.logo-side,
.museum-icon {
    height: 3.81rem;
}

.museum-icon {
    top: 1.19rem;
    left: 26.06rem;
    width: 3.81rem;
}

.logo-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    left: 55rem;
    width: 35rem;
    font-size: 1.13rem;
}

.photo-frame {
    position: absolute;
    top: 10.13rem;
    left: 33.44rem;
    background-color: var(--color-white);
    width: 23.06rem;
    height: 10.5rem;
}

.button {
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* .arrow-back-ios-icon,
.arrow-forward-ios-icon {
  position: absolute;
  top: 14.44rem;
  left: 57.69rem;
  width: 1.88rem;
  height: 1.88rem;
}
.arrow-back-ios-icon {
  left: 30.38rem;
} */

/* Change text color to white on hover */
.button:hover,
b:hover {
    color: white;
}

/* Style the dropdown container initially (hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown items */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    color: black;
}

/* Change the background color of dropdown items on hover */
.dropdown-content a:hover {
    background-color: lightgrey;
}

/* Show the dropdown when hovering over the button */
.activities:hover .dropdown-content {
    display: block;
}

/* Keep the dropdown open when hovering over it */
.dropdown-content:hover {
    display: block;
}

/* Hide the dropdown when not hovering over the button or the dropdown */
.dropdown:not(:hover) .dropdown-content {
    display: none;
}